/* 	<div class="vertical-menu"> */
/* 		<a href="#" id='leftmenu4'>Tài khoản</a> */
/* 		<a href="#" id='leftmenu1'>Quản lý tài khoản</a>  */
/* 		<a href="#"  id='leftmenu2'>Phân quyền</a>  */
/* 		<a href="#" id='leftmenu3'>Quản lý phân quyền</a> */
/* 	</div> */
/* .vertical-menu { */
/* 	width: 210px; */
/* 	height: 100vh; */
/* 	margin: 2px 0 0 0; */
/* 	background-color: #333; */
/* } */

/* .vertical-menu a { */
/* 	background-color: #333; */
/* 	color: white; */
/* 	display: block; */
/* 	padding: 12px 25px; */
/* 	text-decoration: none; */
/* 	border-top: 1px solid #222; */
/* } */

/* .vertical-menu a:hover { */
/* 	background-color: #111; */
/* } */

/* .vertical-menu a.active { */
/* 	background-color: #7F9DC3; */
/* 	color: white; */
/* } */
/* Define the body style */
/* Define the body style */
/* Define the body style */

/* We remove the margin, padding, and list style of UL and LI components */
#contentWrapper {
	display: flex;
}

#contentRight {
	margin-top: 2px;
	margin-left: 2px;
	width: 100%;
	height: 100vh;
	border: solid 1px;
}

#menuwrapper ul, #menuwrapper ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menuwrapper {
	width: auto;
	height: 100vh;
	margin: 2px 0 0 0;
	left: 0;
	top: 0;
	bottom: 0;
}

#sidemenu {
	background: #272727;
	width: 210px;
	height: 100%;
}
/* We apply background color and border bottom white and width to 150px */
#menuwrapper ul li {
	background-color: #272727;
	width: 210px;
	cursor: pointer;
	text-align: left;
}

/* We apply the background hover color when user hover the mouse over of the li component */
#menuwrapper ul li:hover {
	/*position:relative;*/
	
}

/* We apply the link style */
#menuwrapper ul li a {
	padding: 15px 28px;
	color: #555555;
	display: inline-block;
	text-decoration: none;
	color: #555555;
}

#menuwrapper ul li a.selected {
	color: #ddd;
}

#menuwrapper ul li a:hover {
	color: #3F68DE;
	transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
}

#menuwrapper ul li a:hover:after {
	content: "  ";
	display: inline-block;
	border-bottom: 0.8em solid transparent;
	border-left: 0.8em solid transparent;
	border-right: 0.8em solid #3F68DE;
	border-top: 0.8em solid transparent;
	height: 0px;
	margin-top: -2px;
	position: absolute;
	left: 200px;
	width: 1px;
	transition: border-right 1s ease;
	-o-transition: border-right 1s ease;
	-webkit-transition: border-right 1s ease;
	-moz-transition: border-right 1s ease;
}

#menuwrapper ul li a.noflyout:hover:after {
	border-right: 0.8em solid transparent;
	transition: none;
	-o-transition: none;
	-webkit-transition: none;
	-moz-transition: none;
}
/**** SECOND LEVEL MENU ****/
/* We make the position to absolute for flyout menu and hidden the ul until the user hover the parent li item */
#menuwrapper ul li ul {
	position: absolute;
	display: block;
	visibility: hidden;
	height: 100%;
	background-color: transaprent;
	width: 0px;
	color: #fff;
}

#menuwrapper ul li ul li {
	color: #fff;
	background: transparent;
	padding: 15px 28px;
}
/* When user has hovered the li item, we show the ul list by applying display:block, note: 150px is the individual menu width.  */
#menuwrapper ul li:hover ul {
	left: 200px;
	top: 50px;
	display: block;
	visibility: visible;
	width: 300px;
	background-color: #3F68DE;
	transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
}